{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<BR>
<div class='instantTextForm'>
    <form action='/' method=post>
    <table class='instantTextForm'>
        <TH colspan=2>Next Nice Day - Submitted!</TH>
        <TR>
            <TD colspan=2>
                If you don't receive a text,<BR>
                please contact Jeff<BR>                       
                He will want to know :) <BR>
                <BR>  
            </TD>
        </TR>
        <TR><TD>Min Temp</TD><TD>{{ min_temp }}</TD></TR>
        <TR><TD>Max Temp</TD><TD><input type=text name=max_temp size=4></TD></TR>
        <TR><TD>Zipcode</TD><TD><input type=text name=zipcode size=6></TD></TR>
        <TR><TD>Phone Number</TD><TD><input type=text name=phone_number size=12></TD></TR>
        <TR><TD>&nbsp;</TD></TR>
        <TR><TD>Password<BR>(Jeff's middle name)</TD><TD><input type=password name=password size=20></TD></TR>
        <TR><TD colspan=2><input type=submit name=submit value=submit></TD></TR>
    </table> 
    </form>   
    <BR>
    <i>APIs: Openweather & Twilio </i>  
</div>
{% endblock %}